# Internship
## P.Bhanu Vaishnavi
## Day 05
## Date: 29May,19

## Problem 1:
### Problem Statement: Print number of matches won and loss(as two columns). Consider as win when a team wins Toss  and Match . print for each and every team

In [1]:
import pandas as pd
import numpy as np
def winloss(filename):
    df=pd.read_csv(filename)
    team=[]
    uniqteam=[]
    for row in df.values:
        team.append(row[9])
    uniqteam=np.unique(team)    
    winlist=[]
    losslist=[]
    for i in uniqteam:
        wc=0
        lc=0
        for row in df.values:
            if(i==row[9]) and (i==row[10]) :
                wc=wc+1
            elif(row[2]==i or row[3]==i):
                lc=lc+1
        winlist.append(wc)
        losslist.append(lc)
    data={'Teams':uniqteam,"win":winlist,'loss':losslist}      
    df1=pd.DataFrame(data)
    return df1
winloss('data/Match.csv')

                          Teams  win  loss
0           Chennai Super Kings   42    89
1               Deccan Chargers   19    56
2              Delhi Daredevils   33   114
3                 Gujarat Lions   10    20
4               Kings XI Punjab   28   120
5          Kochi Tuskers Kerala    4    10
6         Kolkata Knight Riders   44   104
7                Mumbai Indians   48   109
8                 Pune Warriors    3    43
9              Rajasthan Royals   34    84
10       Rising Pune Supergiant    0     0
11      Rising Pune Supergiants    7    23
12  Royal Challengers Bangalore   35   118
13          Sunrisers Hyderabad   17    60
14                          nan    0     0